/* ESTILOS PARA EL ENCABEZADO */
header {
    background-color: black;
    color: rgb(81, 146, 243);
    padding: 5px 25px 5px 20px;            /*  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'BM HANNA TTF';
   
}

/* ESTILOS CUERPO */
body {
  font-family: Arial, sans-serif;
  margin: 0 10px 10px 10px;
  padding: 0;
}

/* ESTILOS DE LOS H2 PARA LOS SUBTITULOS */
h2{
  text-align: center;
  color: rgb(57, 158, 240);
  font-family: arial,sans-serif;
  font-size: 40px;
}

/* ENCABEZADO CONTAINER */

.header-container {
    display: flex;
    align-items: center;
   
}

.header-container img {
    height: 50px;
    width: 60px;

}

.header-container h1 {
    margin-right: 60px ; /* Ajusta el margen entre la imagen y el título */
    display:inline-block;
}

.header-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container p{
    color: red;
   margin-left: 0;
}



nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display:inline-block;
    margin: 0 10px;
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #ffcc00; /* Cambia el color al pasar el cursor sobre los enlaces */
}

.menu{
    list-style: none;     /* menu */

}

.menu li{
    position: relative;
    display: inline-block;
    
}
.menu li:hover ul{
    display: block;
}

.menu ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(68, 136, 238);
    z-index: 10;
}

.menu ul li a{
    display: flex;
    padding: 10px;
}

.menu ul li i{
    display: inline-block;
    font-size: 15px;
    margin-right:5px;
}

.icons {                    /* iconos */
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    position: relative;
    
}

.icons li {
    margin-left: 30px; /* Ajusta el espacio entre los íconos y el texto */

}

.icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white; /* Color del texto */
    flex-direction:column ;
}

.icons i {
    margin-right: 5px; /* Ajusta el espacio entre el ícono y el texto */
}

.icons a:hover {
    color: #ffcc00; /* Cambia el color al pasar el cursor sobre los enlaces */
}

.formulario-flotante {
  position: absolute;
  left: 1100px ;
  top: 90px;
  background-color: rgb(198, 218, 236);
  padding: 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: none; /* Inicialmente oculto */
  width: 300px; /* Ancho del formulario */
  z-index: 12;
}

.formulario-flotante h2{
  color: rgb(3, 4, 66);
}
  

.campo-formulario {
  margin-bottom: 10px;
}

.campo-formulario label {
  display: block;
  margin-bottom: 5px;
}

.campo-formulario input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.campo-formulario button {
  padding: 8px 15px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#carrito {
  border: 2px dashed #333;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

/* C A R R U S E L */
*{
    outline:0;
    box-sizing:border-box;
  }
  
  html{
    font-family: Arial, sans-serif;
  }
  
  .carrusel img{
    width:100%;
    height:100%;
  }
  
  
  div.carrusel{
    width:100%;
    position:relative;
    padding:10px;
    height:50vh;
    max-height:200px;
  }
  .botones{
    width:35px;
    height:35px;
    border-radius:50%;
    background-color:rgba(0,0,0,.3);
    text-align:center;
    font-size:30px;
    font-weight:bold;
    position:absolute;
    color:#fff;
    box-shadow:0 0 10px rgba(255,255,255,.6);
    -webkit-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;  
    top:45%;
  }
  @media only screen and (min-width:326px){
    .botones{
      font-size:20px;
      width:50px;
      height:50px;
      line-height:50px;
    }
    div.carrusel{
       max-height:100%;   
       min-height:500px;
  
    }
  }
  
  .botones:hover{
    cursor:pointer;
    box-shadow:0 0 20px rgba(255,255,255,1);
  }
  .atras{
    left:2%;
  }
  .adelante{
    right:2%;
  }

  /* PRODUCTOS */
.contenedor-imagenes {
    display: flex;
    justify-content: space-between;
}
.contenedor-imagenes img {
    width: 245px;
    height: auto;
}

.contenedor-imagenes2{
  display: flex;
  justify-content: space-between;
}
.contenedor-imagenes2 img{
  width: 200;
  height: auto;
}

.contenedor-imagenes3{
  display: flex;
}
.contenedor-imagenes3 img{
  width: 100;
  height: auto;
}

  /* pie de pagina*/

.footer {
  background-color: black;
}

.container {
  color: white;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  color: rgb(81, 146, 243);
}

.footer-links {
  width: calc(25% - 20px); /* Ajusta el ancho para que las imágenes queden separadas */
  margin-right: 20px; /* Espacio entre las imágenes */
  text-align: center;
  color: rgb(210, 208, 231);
}

.footer-links h4 {
  font-size: 1.2em;
  color: rgb(193, 224, 12);
}


.footer h3 {
 color: white;
 margin-left: 200px;
}



.social-links {
  display: flex;
}

.social-links a {
 margin-right: 10px;
 color: white;
 font-size: 1.5em;
}

.social-links a:hover{
  background-color: #1f41da;
  border-radius: 50%;
  height: 1.9rem;
  width: 1.9rem;
}










