/* Estilos responsive cabezera */ 
@media (max-width: 768px) {
    /* Estilos para tablet */
    header {
      flex-direction: column;
    }
  
    .header-container {
      flex-direction: column;
    }
  
    .header-container img {
      width: 80px; /* Ajusta el ancho de la imagen del logo */
      margin-bottom: 10px;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav li {
      margin: 10px 0;
    }
  
    .icons-section {
      flex-direction: column;
      align-items: center;
    }
  
    .icons {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .icons li {
      margin: 5px 4px 5px ;
    }
  }
  
  @media (max-width: 576px) {
    /* Estilos para móvil */
    header {
      flex-direction: column;
    }
  
    .header-container {
      flex-direction: column;
      align-items: center;
    }
  
    .header-container img {
      width: 60px; /* Ajusta el ancho de la imagen del logo */
      margin-bottom: 10px;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav li {
      margin: 10px 0;
    }
  
    .formulario-flotante {
      width: 90%;
    }
  }
  .icons {
    flex-direction: row;
    flex-wrap: wrap;
  }

  
  @media (min-width: 1440px) {
    /* Estilos para escritorio */
    .header-container img {
      width: 60px; /* Ajusta el ancho de la imagen del logo */
      margin-right: 30px;
    }
  
    nav ul {
      justify-content: space-between;
    }
  
    .icons-section {
        flex-direction: column;
        align-items: center;
      }
    
      .icons {
        flex-direction: row;
        flex-wrap: wrap;
      }
    
      .icons li {
        margin: 5px 5px  ;
        padding: 10px 0 5px ;
      }
    }
 /* Estilos responsive pie*/

 /* Estilos generales para el pie de página */
.footer {
    background-color:black; /* Color de fondo del pie de página */
    padding: 20px;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en nuevas líneas */
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  
  .footer-row {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en nuevas líneas */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente */
  }
  
  .confoo {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre el logo y el texto */
  }
  
  .confoo img {
    width: 60px;
    height: 50px;
    margin-right: 10px;
  }
  
  .confoo h1 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .footer-links {
    margin-bottom: 20px; /* Espacio entre las secciones */
  }
  
  .footer-links h4 {
    margin-bottom: 10px; /* Espacio entre el título y la lista */
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    margin-bottom: 5px; /* Espacio entre los elementos de la lista */
  }
  
  .footer-links a {
    text-decoration: none;
    color: white;
  }
  
  .social-links {
    display: flex;
    justify-content: center; /* Centra los iconos horizontalmente */
    margin-bottom: 10px; /* Espacio entre las secciones */
  }
  
  .social-links a {
    margin: 0 10px; /* Espacio entre los iconos */
    color: #4a2ae8;
    text-decoration: none;
  }
  
  /* Estilos responsive para el pie de página */
  @media (max-width: 576px) {
    /* Estilos para móvil */
    .footer-row {
      flex-direction: column; /* Apila los elementos verticalmente */
      align-items: center; /* Centra los elementos horizontalmente */
    }
  
    .footer-links {
      width: 100%; /* Ocupa el 100% del ancho */
      margin-bottom: 10px; /* Espacio entre las secciones */
    }
  
    .social-links {
      justify-content: center; /* Centra los iconos horizontalmente */
      margin-bottom: 10px; /* Espacio entre las secciones */
    }
  }
  
  @media (max-width: 768px) {
    /* Estilos para tablet */
    .footer-row {
      flex-direction: column; /* Apila los elementos verticalmente */
      align-items: center; /* Centra los elementos horizontalmente */
    }
  
    .footer-links {
      width: 100%; /* Ocupa el 100% del ancho */
      margin-bottom: 10px; /* Espacio entre las secciones */
    }
  
    .social-links {
      justify-content: center; /* Centra los iconos horizontalmente */
      margin-bottom: 10px; /* Espacio entre las secciones */
    }
  }
  
  @media (min-width: 1440px) {
    /* Estilos para escritorio */
    .footer-row {
      flex-direction: row; /* Distribuye los elementos horizontalmente */
      justify-content: space-between; /* Distribuye el espacio entre los elementos */
      align-items: center; /* Alinea los elementos verticalmente */
    }
  
    .footer-links {
      width: 20%; /* Ancho de las secciones */
      margin-bottom: 20px; /* Espacio entre las secciones */
    }
  
    .social-links {
      width: 20%; /* Ancho de las secciones */
      justify-content: flex-end; /* Alinea los iconos a la derecha */
      margin-bottom: 20px; /* Espacio entre las secciones */
    }
  }
  

