header {
    background-color: black;
    color: rgb(81, 146, 243);
    padding: 5px 25px 5px 20px;            /*  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'BM HANNA TTF';
}

.header-container {
    display: flex;
    align-items: center;
   
}

.header-container img {
    height: 50px;
    width: 60px;

}

.header-container h1 {
    margin-right: 60px ; /* Ajusta el margen entre la imagen y el título */
    display:inline-block;
}

.header-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container p{
    color: red;
   margin-left: 0;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display:inline-block;
    margin: 0 10px;
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #ffcc00; /* Cambia el color al pasar el cursor sobre los enlaces */
}

.menu{
    list-style: none;     /* menu */

}

.menu li{
    position: relative;
    display: inline-block;
    
}
.menu li:hover ul{
    display: block;
}

.menu ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(68, 136, 238);
    z-index: 10;
}

.menu ul li a{
    display: flex;
    padding: 10px;
}

.menu ul li i{
    display: inline-block;
    font-size: 15px;
    margin-right:5px;
}

.icons {                    /* iconos */
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    position: relative;
    
}

.icons li {
    margin-left: 30px; /* Ajusta el espacio entre los íconos y el texto */

}

.icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white; /* Color del texto */
    flex-direction:column ;
}

.icons i {
    margin-right: 5px; /* Ajusta el espacio entre el ícono y el texto */
}

.icons a:hover {
    color: #ffcc00; /* Cambia el color al pasar el cursor sobre los enlaces */
}

.formulario-flotante {
  position: absolute;
  left: 1100px ;
  top: 90px;
  background-color: rgb(198, 218, 236);
  padding: 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: none; /* Inicialmente oculto */
  width: 300px; /* Ancho del formulario */
  z-index: 12;
}

.formulario-flotante h2{
  color: rgb(3, 4, 66);
}
  

.campo-formulario {
  margin-bottom: 10px;
}

.campo-formulario label {
  display: block;
  margin-bottom: 5px;
}

.campo-formulario input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.campo-formulario button {
  padding: 8px 15px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#carrito {
  border: 2px dashed #333;
  padding: 10px;
  margin: 10px;
  text-align: center;
}


/* cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0 10px 10px 10px;
    padding: 0;
}


/* SECCION 1 frase dentro de la imagen */

.frase {

background-image: url("contenido/Imagen1.png");
background-repeat: no-repeat;
background-size:cover;
background-position: center;
text-align: center;
color: white;
padding: 20px;
height: 250px;

}

.frase h2{
    height: 138px;
    background-color:rgb(0, 0, 0,0.5);
    color: white;
}

h2{
    color: rgb(57, 158, 240);
}
/* SECCION asidde */

aside{
    float: right;
    width: 40%;
    padding: 10px ;
    border-radius: 20px;
    margin: 10px 50px 10px;
}


/* SECCION parrafos */

.cont {
    margin-bottom: 50px;
    background-color:aliceblue;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 30px 10px 50px;
    max-width: 800px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    width: 60%;
    margin-right: 20px;
}

img {
    border-radius: 10px;
}


/* SECCION 2 IMAGENES */

#soporte-ti {
  margin-right: 20px;
  color: #399ef0; /* Uso de código hexadecimal para el color */
  z-index: 10;
}

.imagenes-soporte {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.imagen-container {
  width: calc(33.33% - 20px); /* Ajusta el ancho para que las imágenes queden separadas */
  margin-right: 20px; /* Espacio entre las imágenes */
  text-align: center;
  color: black;
}

.imagen-container img {
  width: 100%;
  height: 200px; /* Uso de minúsculas para las unidades */
  margin-bottom: 10px;
}

.imagen-container h3 {
  font-size: 1.2em;
}


  /* SECCION 3 IMAGEN*/

#cotizacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .contenido-cotizacion {
    display: flex;
  }
  
  .video-cotizacion {
    flex: 1;
    margin-right: 50px;
    width: 600px;
    height: 400px;
  }
  

   /* SECCION 2 VIDEO*/
   .video-imag {
    position: relative;
    width: 400px;
    height: 200px;
    margin: 0 auto;
}

#video-per {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    z-index:10;
    border-radius: 5px;
}

#video-per:focus {
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 /* SECCION 3 FORMULARIO*/
 .formulario-cotizacion {
    flex: 1;
    padding: 10px 20px 30px  10px;
    background-color: rgb(217, 229, 241);
  
  }
  
  .formulario-cotizacion h3 {
    color: green;
  }

  .formulario-cotizacion h4, .formulario-cotizacion label {
    color: black;
  }
  
  .formulario-cotizacion form {
    display: flex;
    flex-direction: column;
  }
  
  .formulario-cotizacion input,
  .formulario-cotizacion textarea {
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgb(210, 233, 233);
  }
  
  .formulario-cotizacion button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(20, 134, 240);
    font-weight: bold;
  }
  
  .formulario-cotizacion button i {
    margin-left: 5px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group label {
    flex: 1;
}

.input-group input {
    flex: 2;
}

/* pie de pagina*/

.footer {
    background-color: black;
    margin: 5px;
  }
  
  .container {
    color: white;
  }
  
  .footer-row {
    display: flex;
    justify-content: space-between;
    color: rgb(81, 146, 243);
  }
  
  .footer-links {
    width: calc(25% - 20px); /* Ajusta el ancho para que las imágenes queden separadas */
    margin-right: 20px; /* Espacio entre las imágenes */
    text-align: center;
    color: rgb(210, 208, 231);
  }
  
  .footer-links h4 {
    font-size: 1.2em;
    color: rgb(193, 224, 12);
  }
  
  
  .footer h3 {
   color: white;
   margin-left: 450px;
  }
  
  
  
  .social-links {
    display: flex;
  }
  
  .social-links a {
   margin-right: 10px;
   color: rgb(226, 227, 236);
   font-size: 1.5em;
  }