header {
    background-color: black;
    color: rgb(81, 146, 243);
    padding: 5px 25px 5px 20px;            /*  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'BM HANNA TTF';
    padding: 15px;
}
.header-container {
    display: flex;
    align-items: center;
   
}

.header-container img {
    height: 50px;
    width: 60px;

}

.header-container h1 {
    margin-right: 60px ; /* Ajusta el margen entre la imagen y el título */
    display:inline-block;
}

.header-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container p{
    color: red;
   margin-left: 0;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display:inline-block;
    margin: 0 10px;
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #ffcc00; /* Cambia el color al pasar el cursor sobre los enlaces */
}

.menu{
    list-style: none;     /* menu */

}

.menu li{
    position: relative;
    display: inline-block;
    
}
.menu li:hover ul{
    display: block;
}

.menu ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(68, 136, 238);
    z-index: 10;
}

.menu ul li a{
    display: flex;
    padding: 10px;
}

.menu ul li i{
    display: inline-block;
    font-size: 15px;
    margin-right:5px;
}

.icons {                    /* iconos */
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    position: relative;
    
}

.icons li {
    margin-left: 30px; /* Ajusta el espacio entre los íconos y el texto */

}

.icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white; /* Color del texto */
    flex-direction:column ;
}

.icons i {
    margin-right: 5px; /* Ajusta el espacio entre el ícono y el texto */
}

.icons a:hover {
    color: #ffcc00; /* Cambia el color al pasar el cursor sobre los enlaces */
}

.formulario-flotante {
  position: absolute;
  left: 1100px ;
  top: 90px;
  background-color: rgb(198, 218, 236);
  padding: 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: none; /* Inicialmente oculto */
  width: 300px; /* Ancho del formulario */
  z-index: 12;
}

.formulario-flotante h2{
  color: rgb(3, 4, 66);
}
  

.campo-formulario {
  margin-bottom: 10px;
}

.campo-formulario label {
  display: block;
  margin-bottom: 5px;
}

.campo-formulario input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.campo-formulario button {
  padding: 8px 15px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#carrito {
  border: 2px dashed #333;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

/* cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0 10px 10px 10px;
    padding: 0;
}


/* SECCION 1 Estilos para la frase dentro de la imagen */

.frase {
    background: url("concone/Imagen1.png") no-repeat center/cover;
    text-align: center;
    color: white;
    padding: 20px;
    height: 150px;
    display: inline-block;
}

/* SECCION 1 Estilos para el titulo h2 dentro de la frase */
.frase h2 {
    padding: 20px 90px 10px 110px;
    background-color: rgba(0, 0, 0, 0.493);
}


/* Estilo para controlar el tamaño de las imágenes */
.frase img {
    display: none;
}

/* SECCION 2 parrafos */

  /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    margin: 0 10px 10px 10px;
    padding: 0;
}

aside{
    float: right;
    width: 30%;
    padding: 20px ;
    border-radius: 20px;
    margin: 10px 50px 10px;
}

/* PARRAFOS */
section {
    margin-bottom: 40px;
    background-color:aliceblue;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 30px 10px 50px;
    max-width: 800px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    width: 50%;
    margin-right: 20px;
}

img {
    border-radius: 10px;
}

/* SECCION 3 vision y mision */

.vision-mision-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.vision, .mision{
    width: 45%;
    background-color: #9ee8bb;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

.vision img, .mision img {
    border-radius: 10px;
    margin-left: 20px;
    width: 120px;
    height: 125px;
}


.vision-mision-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.mision{
    background-color: rgb(199, 213, 243);
}

.vision-mision-container h2 {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 31%;
    background-color: aliceblue;
}


/* SECCION 4 */
.testimonio {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}


.testimonio p {
    flex: 1; /* Ocupar el espacio restante para el párrafo */
    margin: 0; /* Eliminar márgenes del párrafo */
}

.testimonio img {
    width: 200px; /* Establecer ancho fijo para la imagen */
    height: 150px; /* Establecer altura fija para la imagen */
    border-radius: 10px; /* Agregar bordes redondeados a la imagen */
}




/* pie de pagina*/

.footer {
    background-color: black;
  }
  
  .container {
    color: white;
  }
  
  .footer-row {
    display: flex;
    justify-content: space-between;
    color: rgb(81, 146, 243);
  }
  
  .footer-links {
    width: calc(25% - 20px); /* Ajusta el ancho para que las imágenes queden separadas */
    margin-right: 20px; /* Espacio entre las imágenes */
    text-align: center;
    color: rgb(210, 208, 231);
  }
  
  .footer-links h4 {
    font-size: 1.2em;
    color: rgb(193, 224, 12);
  }
  
  
  .footer h3 {
   color: white;
   margin-left: 200px;
  }
  
  
  
  .social-links {
    display: flex;
  }
  
  .social-links a {
   margin-right: 10px;
   color: rgb(226, 227, 236);
   font-size: 1.5em;
  }
